[Unit]
Description=Enviro+ proximity logger
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/enviro
ExecStart=/usr/bin/python3 /home/pi/enviro/enviro_pi_csv_no_gps_no_button_prox_v2.py
Restart=on-failure
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
